# Auto detect text files and perform LF normalization
* text=auto
*.txt filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii2.mp4 filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/2c07e79d-1a81-434f-9ec5-72bee977d700.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/7d86ab74-87d2-41b2-b5fe-67761a24cf7d.txt filter=lfs diff=lfs merge=lfs -text
