# Auto detect text files and perform LF normalization
* text=auto
*.txt filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii1[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
uploads/Pompeii2.mp4 filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/2c07e79d-1a81-434f-9ec5-72bee977d700.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/7d86ab74-87d2-41b2-b5fe-67761a24cf7d.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/df51a117-c1ee-4241-9861-a8ef5739d5fa.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/d8cbda17-e35c-474e-bc9e-b84d0656d689.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/ffa948bd-a647-4918-bc06-05a50cf77069.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/618d88b0-be3b-43b1-b176-853c9189f4af.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/300c0eb8-073b-4585-a447-b05eff18cc73.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/ff950b79-fcb4-4812-ad81-3d586b5652ed.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/8f890fe3-ac78-4442-a099-cec01316cefd.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/41947dd7-6df6-4223-9985-fab78bbf626b.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/50977f9c-8944-47c4-abf2-b7d220be450a.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/c0ed445f-84ac-4e70-a49c-87863202ae6a.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/e82206fb-6598-4565-a3f6-66e1eb850ae0.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/1489c067-a033-4b10-8891-5c2a0be9d12a.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/96e6c335-30fb-4825-8d7c-ff855e43321e.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/44799502-9eec-4559-8adb-ff31bf3882e3.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/05a7a2a2-3042-434f-b9d4-827acb1994e4.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/3e931ebe-2ee8-432a-a2f1-9ae9a8e33bcd.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/3d52d0fd-c712-4528-96d1-13d51d14fde4.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/acbaf048-719b-4bcf-a8aa-be581e902775.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/96641e57-0eda-4233-b1b2-d2a5d4a5ee17.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/57724df8-dc71-44c5-bba1-c843610e6f99.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/23b5a3ad-13eb-46d6-a037-dfd23e493bcc.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/f039f38e-332c-45b1-9c69-10de0626a12b.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/cd3ee2ea-6246-44c7-8b25-0b9f6aa40678.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/b9f08fda-de2d-46f0-8a84-010f79c1e5f7.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/dc900ddc-9a74-4fec-bd0e-884c99732510.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/4c07ef11-4bf8-4dcf-b7ec-81035570a2a6.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/04e2d3ac-a96a-43c8-a3c3-763540a2f349.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/a1c1351e-c4c5-4bff-8027-de649f4fa7e3.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/e39c7144-dfdf-4a0f-b85f-31cd6bfa9aea.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/cb30fd9a-045b-4651-9dc1-0c1c3740c842.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/f741ec22-aa9e-4926-a308-a845057d0aeb.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/f097fde3-e3e9-4a50-884a-c5812268c465.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/2db7e508-cdc4-4f7e-bb73-f5a475741088.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/082bd8df-f633-4d6a-8c01-7d3e18941646.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/1791c7f3-d294-48ea-aea3-f29379a8589c.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/a5fb0c5e-9809-40b9-825c-a55a165af9b7.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/c2b12d3c-c116-40b6-89fe-aa99d161bdbd.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/f7b5ffee-5ba6-4f98-b36c-b14ad2ee9d20.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/3463b4f1-7282-4357-ba66-4b09962f61d1.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/419acc3b-18c1-4beb-87f5-c623e2324786.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/b706d3f3-71b4-40d5-9c83-da44b16a39da.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/fe6f8a3a-6f5c-4222-ba7b-40bfb302c97c.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/6ea536fd-76a0-44f3-9ab8-8c61ad35051e.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/4e6fd4e1-a12f-44af-b684-8cb5a66940ee.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/ffb1a623-1f90-4934-960d-0932ce036742.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/19b10525-ea1e-40a0-97ad-8d247f2c76c6.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/8acb959c-63ff-42e1-a98c-d12937fd1a7d.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/bd01a5f3-b536-4e6f-aec5-1a632001dd59.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/b34b787d-59b7-44a6-b3f2-3592d3898050.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/c8680f07-64d4-42b5-9df0-968377faad75.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Manifests/5db08017-18c0-4bfb-b55d-35211212e491.json filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/23bf9a5f-d585-45cf-b14e-7d4cc026929f.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/1bcba94f-6938-40dd-92cd-c64a71ab7a32.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/d102d859-9d02-4849-94dc-9c2132398603.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/5fb27216-8d68-4057-af58-291ba84038cf.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/02a98594-e2a7-40cf-ad30-fa5cb1686cb3.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/f63eea14-199a-4885-9d55-c727590b5f00.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/0cdc89db-df39-4885-a584-1751660f1e56.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/1d9641cb-969b-4e6b-8b67-543b6c7cc262.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/6ff90e77-5414-4c8f-99f3-51755f6ecff1.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/49a162c6-caba-4534-8f30-1e9194f241da.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/9e09e824-78bd-459e-b52b-06c41637c1f6.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/ad7d12b7-c43c-4c64-b255-3f315405b326.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/972519fb-261c-4ccf-9df0-9b6878c84993.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/4835c355-1a2f-4e90-804f-5a1184db22be.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/5e960f8a-ede9-4b7d-9bb9-4575bac7d9a6.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/d8dd9b8c-c231-4945-9dc4-1efb0e96efa4.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/7f821e78-2bce-46a0-ad25-c24d9921077d.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/d9bfde75-334f-4e5a-a9f3-de3c90f01055.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/3e0e5596-4d25-4b7d-9c24-d9744ab1ef19.txt filter=lfs diff=lfs merge=lfs -text
DistributeUploads/Uploads/b1792594-2303-4f93-829b-015b90edd4cb.txt filter=lfs diff=lfs merge=lfs -text
